// // PORTFOLIO SECTION
#portfolio {

	.portfolio-controls {
		

		button {
			

			&:hover {
			
			}
		}

		.active {
			

			&:hover {
			
			}

		}

	}

	#portfolio-container {
		margin: 0 auto;
		text-align: justify;
		width: 680px;

		.mix {
			

			img {
				
			}		

		}

	}

}